data/monthly/* filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
data/alldata.csv filter=lfs diff=lfs merge=lfs -text
data/top30data.csv filter=lfs diff=lfs merge=lfs -text
/data/monthly filter=lfs diff=lfs merge=lfs -text
