data/On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2018_1.csv filter=lfs diff=lfs merge=lfs -text
data/monthly/* filter=lfs diff=lfs merge=lfs -text
data/*.csv filter=lfs diff=lfs merge=lfs -text
data/alldata.csv filter=lfs diff=lfs merge=lfs -text
data/top30data.csv filter=lfs diff=lfs merge=lfs -text
